* {
    box-sizing: border-box;
    margin: 0; padding: 0;}
html {
    width: 100%; height: auto;
    font-family: monospace, 'Courier New', Courier; font-size: 16px;}
    
    /* H */

header, footer, main {
    width: 100%; height:  auto;
    display: flex; flex-direction: column; align-items: center;}
header, footer {
    background-color: #1f2937;}
.header-content {
    width: 1000px; height: auto;
    display: flex; flex-direction: column; justify-content: center;}
.header-row1 {
    display: flex; flex-direction: row; justify-content: space-between; align-items: center;}
.logo-name {
    display: flex; flex-direction: row; align-items: center;}
.logo-name > img {
    height: 32px;
    margin: 0 1rem 0 0;}
.logo-name > p {
    color: #e5e7eb; font-size: 24px;}
.header-row1 > nav {
    display: flex; align-items: center;
    font-size: 1rem;}
.header-row1 > nav > a {
    color: #e5e7eb;
    padding: 1rem;
    text-decoration: none;}
.header-row1 > nav > a:hover {
    font-weight: 800;}
.header-row2 {
    display: flex; flex-direction: row;
    padding: 4rem 0 4rem 0;}
.header-row2 > div {
    flex: 1;}
.header-row2 > div > h1 {
    color: #f9faf9; font-size: 48px; font-weight: 900;
    margin: 0 0 1rem 0;}
.header-row2 > div > p {
    color: #e5e7eb;
    margin: 0 0 1rem 0;}
.header-row2 > div > button {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    background-color: #3882f6;
    color: #f9faf9; font-weight: 800;
    border: none; border-radius: .5rem;}
.header-row2 > .header-img {
    color: #e5e7eb;
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    background-image: url("img/stripes-light.png");
    margin: 0 0 0 2rem;}
.header-row2 > .header-img > p {
    text-align: center;
    color: #1f2937;
    margin: 2rem;}

    /* M */

.info-container, .quote-container, .cta-container {
    width: 100%; height:  auto;
    display: flex; flex-direction: column; align-items: center;}
.info-content, .quote-content, .cta-content {
    width: 1000px; height: auto;}
.info-content {
    display: flex; flex-direction: column; align-items: center;
    padding: 2rem 4rem 4rem 4rem;}
.info-content h2 {
    margin: 0 0 2rem 0;
    font-size: 36px; color: #1f2937}
.imagerow-container {
    width: 100%; height: auto;
    display: flex; flex-direction: row; justify-content: space-around;}
.imagerow-column {
    display: flex; flex-direction: column; align-items: center;
    width: 175px;
    text-align: center;}
.imgbox {
    width: 175px; height: 175px;
    border: 4px solid #3882f6; border-radius: 20px;
    margin: 0 0 1rem 0;
    background-image: url("img/stripes-light.png");}
.quote-container {
    background-color: #e5ebeb;}
.quote-content {
    padding: 4rem 4rem 4rem 4rem;}
.quote-content p {
    font-size: 36px; font-style: italic; color: #1f2937;}
.author {
    float: right;
    margin-right: 4rem;
    font-size: 36px; font-weight: 800; color: #1f2937;}


    /* F */

.footer-content {
    width: 1000px; height: auto;
    display: flex; flex-direction: column; justify-content: center;}